:root {
  font-family: 'Quicksand', sans-serif;
  color: $_main_color;
  background: linear-gradient(180deg, #8d46e2 0%, #3c1f95 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section-title {
  font-family: 'Chewy', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #ffb84d;
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 34px;
  }
}

.section {
  scroll-margin-top: 90px;

  @include media(desktop) {
    scroll-margin-top: 100px;
  }
}
