.boosters-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.boosters-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
}

.boosters-bg-img {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.boosters-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    max-width: 196px;
  }
}

.boosters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.boosters-list-item {
}

.boosters-item-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ff4d6d;
}

.boosters-item-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.boosters-img-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.boosters-medium-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 58px;
    right: 34px;
  }
}

.boosters-small-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 109px;
    right: 98px;
    z-index: -1;
  }
}
