.features-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.features-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
}

.features-bg-img {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin-bottom: 0;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.features-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}

.features-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.features-item-text-wrapper {
}

.features-item-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6ed3e6;
  margin-bottom: 12px;
}

.features-item-text {
  font-family: 'Crimson Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e8d9c5;
}
