.gallery-section {
  @include media(desktop) {
  }
}

.gallery-section-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
    position: relative;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.gallery-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  padding: 0;
  max-width: 305px;
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    gap: 12px;
  }
}

.arrow-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dot {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background: rgba(255, 184, 77, 0.5);
  cursor: pointer;
}

.dot.active {
  background: #ffb84d;
}

.gallery-big-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 12px;
    right: 93px;
  }
}

.gallery-medium-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 97px;
    left: 190px;
  }
}

.gallery-small-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 97px;
    left: 272px;
  }
}
