.gallery-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.gallery-title {
  @include media(desktop) {
    margin-bottom: 92px;
  }
}

.gallery-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
    overflow: visible;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.gallery-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    flex-shrink: 0;

    &.swiper-slide-active {
      margin-left: 75px !important;
      margin-right: 80px !important;
      transform: scale(1.45) !important;
      z-index: 2;
    }
  }
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    gap: 20px;
  }
}

.arrow-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
