.context-menu {
  display: none;
  background: linear-gradient(180deg, #8d46e2 0%, #3c1f95 100%);
  padding: 48px 0;
  padding-top: 14px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-container {
  width: 100%;
  max-width: 375px;
  padding: 0 42px;
  margin: 0 auto;
}

.context-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 48px;
  height: 48px;

  @include media(desktop) {
    display: none;
  }
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 129px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.context-list-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fffafa;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #ffb84d;
  }
}

.context-big-puzzle-img {
  margin-left: auto;
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
