.reviews-section {
  @include media(desktop) {
  }
}

.reviews-section-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-bottom: 140px;
    max-width: 1440px;
    position: relative;
  }
}

.reviews-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.reviews-bg-img {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    display: none;
  }
}

.reviews-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    display: none;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-slide {
  padding: 0;
  max-width: 335px;
  border-radius: 20px;
  padding: 22px 25px;
  background: #a772ff;
  height: 232px !important;
  display: flex !important;
  flex-direction: column;
}

.reviews-rating-img {
  margin-bottom: 16px;
}

.reviews-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 18px;
}

.reviews-avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  margin-top: auto;
}

.reviews-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #ffb84d;
}

.reviews-list-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.reviews-list-item-desk {
  background: #a772ff;
  border-radius: 20px;
  padding: 22px 25px;
  max-width: 413px;
  height: 213px;
}

.reviews-list-item-img {
}

.reviews-bubble-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    left: 81px;
    bottom: 0;
  }
}
