<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <h2 class="section-title about-title">About The Game</h2>
    <div class="container about-container">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="437"
          height="350"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="335"
          height="284"
        />
        <img
          class="about-bg-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="284"
        />
      </picture>
      <div class="about-content-wrapper">
        <p class="about-text">
          <span class="about-span">EverBlast: Blast and Match</span> is not your
          average puzzle game.<br />
          Smash through vibrant block clusters, unleash wild power-ups, and
          complete mind-bending challenges! With thousands of levels, clever
          puzzles, and daily events, EverBlast turns simple taps into satisfying
          explosions of fun. Perfect for quick breaks or hours of casual
          mayhem — the next blast is just one tap away.
        </p>
        <img
          class="about-big-bubble-img"
          src="./img/about/about-big-bubble.png"
          alt="Bubble"
          width="125"
          height="123"
        />
        <img
          class="about-medium-bubble-img"
          src="./img/about/about-medium-bubble.png"
          alt="Bubble"
          width="87"
          height="87"
        />
        <img
          class="about-medium-center-bubble-img"
          src="./img/about/about-medium-center-bubble.png"
          alt="Bubble"
          width="75"
          height="77"
        />
        <img
          class="about-small-bubble-img"
          src="./img/about/about-small-bubble.png"
          alt="Bubble"
          width="54"
          height="53"
        />
        <img
          class="about-small-center-bubble-img"
          src="./img/about/about-small-center-bubble.png"
          alt="Bubble"
          width="53"
          height="54"
        />
      </div>
    </div>
  </div>
</section>
