<section class="section boosters-section" id="boosters">
  <div class="boosters-bg-wrapper">
    <h2 class="section-title boosters-title">Boosters</h2>
    <div class="container boosters-container">
      <picture>
        <source
          srcset="./img/boosters/boosters-bg-desk.png"
          media="(min-width: 1440px)"
          width="522"
          height="365"
        />
        <source
          srcset="./img/boosters/boosters-bg-mob.png"
          width="375"
          height="262"
        />
        <img
          class="boosters-bg-img"
          src="./img/boosters/boosters-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="262"
        />
      </picture>
      <div class="boosters-content-wrapper">
        <ul class="boosters-list">
          <li class="boosters-list-item">
            <p class="boosters-item-title">Bomb Blaster</p>
            <p class="boosters-item-text">Clears massive areas in one tap.</p>
          </li>
          <li class="boosters-list-item">
            <p class="boosters-item-title">Tile Rocket</p>
            <p class="boosters-item-text">
              Destroys rows or columns instantly.
            </p>
          </li>
          <li class="boosters-list-item">
            <p class="boosters-item-title">Color Wipe</p>
            <p class="boosters-item-text">Eliminates all tiles of one color.</p>
          </li>
          <li class="boosters-list-item">
            <p class="boosters-item-title">Combo Storm</p>
            <p class="boosters-item-text">
              Triggers a chain of random explosions.
            </p>
          </li>
        </ul>
        <img
          class="boosters-medium-bubble-img"
          src="./img/boosters/boosters-medium-bubble.png"
          alt="Bubble"
          width="74"
          height="72"
        />
        <img
          class="boosters-small-bubble-img"
          src="./img/boosters/boosters-small-bubble.png"
          alt="Bubble"
          width="44"
          height="43"
        />
      </div>
      <img
        class="boosters-img-desk"
        src="./img/boosters/boosters-img-desk.png"
        alt="Screenshot of the game"
        width="522"
        height="365"
      />
    </div>
  </div>
</section>
