<section class="section enchantments-section" id="enchantments">
  <div class="enchantments-bg-wrapper">
    <h2 class="section-title enchantments-title">Enchantments</h2>
    <div class="container enchantments-container">
      <picture>
        <source
          srcset="./img/enchantments/enchantments-bg-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="356"
        />
        <source
          srcset="./img/enchantments/enchantments-bg-mob.png"
          width="375"
          height="212"
        />
        <img
          class="enchantments-bg-img"
          src="./img/enchantments/enchantments-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="212"
          loading="lazy"
        />
      </picture>
      <div class="enchantments-content-wrapper">
        <p class="enchantments-text">
          Discover and equip over 20 unique enchantments that alter your powers.
          Freeze time, summon burning light, or explode darkness in style. Build
          your strategy as the difficulty grows.
        </p>
        <img
          class="enchantments-img"
          src="./img/enchantments/enchantments-img-desk.png"
          alt="Enchantments picture"
          width="461"
          height="281"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
