<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <h2 class="section-title features-title">Features</h2>
    <div class="container features-container">
      <picture>
        <source
          srcset="./img/features/features-bg-desk.png"
          media="(min-width: 1440px)"
          width="414"
          height="276"
        />
        <source
          srcset="./img/features/features-bg-mob.png"
          width="375"
          height="250"
        />
        <img
          class="features-bg-img"
          src="./img/features/features-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="250"
        />
      </picture>
      <div class="features-content-wrapper">
        <div class="features-list">
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Orb-Matching Action</p>
              <p class="features-item-text">
                Match 3+ orbs to destroy dark chains of magic.
              </p>
            </div>
          </div>
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Fantasy World</p>
              <p class="features-item-text">
                Journey through over 90 hand-crafted levels.
              </p>
            </div>
          </div>
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Powerful Enchantments</p>
              <p class="features-item-text">
                Unlock magical upgrades and boosts.
              </p>
            </div>
          </div>
        </div>
        <div class="features-list">
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Epic Soundtrack</p>
              <p class="features-item-text">
                Original orchestral music enhances the fantasy.
              </p>
            </div>
          </div>
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img5.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Multiple Game Modes</p>
              <p class="features-item-text">
                Adventure, Survival, and Challenge.
              </p>
            </div>
          </div>
          <div class="features-list-item">
            <img
              class="features-img"
              src="./img/features/features-img6.png"
              alt="Features picture"
              width="78"
              height="78"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <p class="features-item-title">No Ads, No Distractions</p>
              <p class="features-item-text">A premium, immersive experience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
