<section class="section hero-section" id="home">
  <div class="container hero-container">
    <picture>
      <source
        srcset="./img/hero/hero-title-desk.png"
        media="(min-width: 1440px)"
        width="691"
        height="455"
      />
      <source srcset="./img/hero/hero-title-mob.png" width="375" height="247" />
      <img
        class="hero-title-img"
        src="./img/hero/hero-title-mob.png"
        alt="Title"
        width="375"
        height="247"
      />
    </picture>
  </div>
</section>
