<section class="section hero-section" id="home">
  <div class="container hero-container">
    <picture>
      <source
        srcset="./img/hero/hero-title-desk.png"
        media="(min-width: 1440px)"
        width="616"
        height="417"
      />
      <source srcset="./img/hero/hero-title-mob.png" width="375" height="254" />
      <img
        class="hero-title-img"
        src="./img/hero/hero-title-mob.png"
        alt="Title"
        width="375"
        height="254"
      />
    </picture>
    <picture>
      <source
        srcset="./img/hero/hero-bubbles-desk.png"
        media="(min-width: 1440px)"
        width="180"
        height="151"
      />
      <source
        srcset="./img/hero/hero-bubbles-mob.png"
        width="132"
        height="110"
      />
      <img
        class="hero-bubbles-img"
        src="./img/hero/hero-bubbles-mob.png"
        alt="Bubbles"
        width="132"
        height="110"
      />
    </picture>
    <img
      class="hero-big-bubble-img"
      src="./img/hero/hero-big-bubble.png"
      alt="Bubble"
      width="156"
      height="156"
    />
  </div>
</section>
