<div class="context-menu">
  <div class="context-container">
    <div class="context-btn-wrapper">
      <img
        class="context-small-puzzle-img"
        src="./img/menu/menu-medium-bubble.png"
        alt="Bubble"
        width="51"
        height="51"
      />
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about"
            >About the Game</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#boosters">Boosters</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <img
      class="context-big-puzzle-img"
      src="./img/menu/menu-bubbles.png"
      alt="Bubbles"
      width="180"
      height="151"
    />
  </div>
</div>
