<div class="context-menu">
  <div class="context-container">
    <div class="context-btn-wrapper">
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#story">Story</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features">Features</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#enchantments"
            >Enchantments</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery">Gallery</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#play">How to Play</a>
        </li>
      </ul>
    </nav>
    <img
      class="context-big-puzzle-img"
      src="./img/menu/menu-orbs.png"
      alt="Bubbles"
      width="198"
      height="113"
    />
  </div>
</div>
