<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <h2 class="section-title play-title">How to Play</h2>
    <div class="container play-container">
      <div class="play-content-wrapper">
        <ul class="play-list">
          <li class="play-list-item">
            <img
              class="play-img"
              src="./img/play/play-img1.png"
              alt="Screenshot of the game"
              width="305"
              height="188"
              loading="lazy"
            />
            <p class="play-item-text">
              Use your orb slinger to launch matching colors.
            </p>
          </li>
          <li class="play-list-item">
            <img
              class="play-img"
              src="./img/play/play-img2.png"
              alt="Screenshot of the game"
              width="305"
              height="188"
              loading="lazy"
            />
            <p class="play-item-text">
              Match 3+ orbs to destroy the chain before it reaches the abyss.
            </p>
          </li>
          <li class="play-list-item">
            <img
              class="play-img"
              src="./img/play/play-img3.png"
              alt="Screenshot of the game"
              width="305"
              height="188"
              loading="lazy"
            />
            <p class="play-item-text">
              Unlock and apply enchantments to gain the upper hand.
            </p>
          </li>
          <li class="play-list-item">
            <img
              class="play-img"
              src="./img/play/play-img4.png"
              alt="Screenshot of the game"
              width="305"
              height="188"
              loading="lazy"
            />
            <p class="play-item-text">
              Complete levels, earn stars, and unlock new challenges.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
