<section class="section story-section" id="story">
  <div class="story-bg-wrapper">
    <h2 class="section-title story-title">Story</h2>
    <div class="container story-container">
      <picture>
        <source
          srcset="./img/story/story-bg-desk.png"
          media="(min-width: 1440px)"
          width="629"
          height="356"
        />
        <source
          srcset="./img/story/story-bg-mob.png"
          width="375"
          height="212"
        />
        <img
          class="story-bg-img"
          src="./img/story/story-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="212"
          loading="lazy"
        />
      </picture>
      <div class="story-content-wrapper">
        <p class="story-text">
          In a world consumed by shadow, a mysterious journey begins. You are
          the chosen bearer of the enchanted orb slinger, destined to seek the
          five lost keys of Sparkle. With every match, light returns to the
          realm. Explore enchanted forests, forgotten temples, and lost ruins
          in a beautifully immersive puzzle adventure.
        </p>
        <img
          class="story-orbs-img"
          src="./img/story/story-orbs.png"
          alt="Orbs"
          width="298"
          height="171"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
